<!DOCTYPE html>
<html>
<head>
  <title>Tomas Costantino</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  <%= yield :head %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="apple-touch-icon" href="/icon.png">

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
<nav class="navbar">
  <div class="nav-content">
    <ul class="nav-links">
      <% @content['sections'].each do |section| %>
        <li><a href="#<%= section['id'] %>"><%= section['title'] %></a></li>
      <% end %>
    </ul>
  </div>
</nav>
<%= yield %>
</body>
</html>